<div class="container">
  <div class="row pt-5">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h1>{{course.name}}</h1>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/{{course.videoId}}?rel=0" title="YouTube video" allowfullscreen></iframe>
      </div>
      <h2>{{course.description}}</h2>
      <span class="badge bg-primary">{{course.tag}}</span>
    </div>
  </div>
</div>