<section class='p-5'>
  <div style='max-width: 600px;' class='mx-auto'>
    <form method='post' action=''>
      <div class='mb-3'>
        <label for='searchInput' class='form-label'>Search</label>
        <input type='text' class='form-control' id='searchInput' name='keyword' aria-describedby='search' />
      </div>

      <div class='mb-3'>
        <select class='form-control' name='gender' id='gender'>
          <option value=''>---- chon gioi tinh ----</option>
          <option value='male'>nam</option>
          <option value='female'>nu</option>
        </select>
      </div>

      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </div>
</section>